<!-- SocialShare-Block -->
<div id="socialshare_block">
    <div id="socialshareprivacy"></div>
    <script type="text/javascript">
        jQuery(document).ready(function($){
            if($('#socialshareprivacy').length > 0){
                $('#socialshareprivacy').socialSharePrivacy({
                    'css_path': '<f:uri.resource path="socialshareprivacy/socialshareprivacy.css" />',
                    'lang_path': '<f:uri.resource path="socialshareprivacy/lang/" />',
                    'services' : {
                        'facebook': {
                            'dummy_img': '<f:uri.resource path="socialshareprivacy/images/dummy_facebook.png" />',
                            'sharer': {
                                'dummy_img': '<f:uri.resource path="socialshareprivacy/images/dummy_facebook_share_de.png" />',
                                'img': '<f:uri.resource path="socialshareprivacy/images/dummy_facebook_share_active_de.png" />'
                            }
                        },
                        'twitter' : {
                            'dummy_img'         : '<f:uri.resource path="socialshareprivacy/images/dummy_twitter.png" />'
                        },
                        'gplus' : {
                            'dummy_img'         : '<f:uri.resource path="socialshareprivacy/images/dummy_gplus.png" />'
                        }

                    },
                    'language': 'de'
                });
            }
        });
    </script>

</div>
<!-- SocialShare-Block END -->
