<f:layout name="Default" />
This Template is responsible for creating a table of domain objects.
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Publications
        <f:if condition="{publicationTitle}">
            in "{publicationTitle}"
        </f:if>
    </h1>
    <f:flashMessages renderMode="div" />
    <div  class="tx_pubmanimporter" >
        <f:for each="{publications}" as="publication">
            <ul>
                <li class="publication">
                    <f:if condition="{publication.hasChildren}">
                        <a href="{publication.link}">
                    </f:if>
                    {publication.title}
                    <f:if condition="{publication.hasChildren}">
                    </a>
                    </f:if>
                    <a href="{publication.source_url}{publication.fulltextlink}" title="{publication.properties.mime-type}">{publication.properties.file-name}</a>
                    <f:link.action action="show" arguments="{publication : publication.object_id}">SHOW</f:link.action>
                </li>
            </ul>
        </f:for>
    </div>
</f:section>