<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h1>Single view for Publication {identifier}</h1>
	<f:flashMessages renderMode="div" />
	<div  class="tx_pubmanimporter" >
		<h2>Title</h2>
		{title}	
		<h2>Authors</h2>
		<ul>
			<f:for each="{authors}" as="author" iteration="authorIterator">
				<li class="author {authorIterator.cycle}{f:if(condition: authorIterator.isEven, then: ' Even')}{f:if(condition: authorIterator.isOdd, then: ' Odd')}{f:if(condition: authorIterator.isFirst, then: ' First')}{f:if(condition: authorIterator.isLast, then: ' Last')}">
					<a href="{author.identifier}" class="author">
						<span class="author_name family_name">{author.family-name}</span>, <span class="author_name family_name">{author.given-name}</span>
					</a>
				</li>
			</f:for>
		</ul>
	</div>

	<f:link.action action="list">Back to List</f:link.action>
</f:section>