<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages renderMode="div"/>
    <f:if condition="{Error}">
        <f:then>
            <f:render partial="Error" arguments="{Error: Error}"/>
        </f:then>
        <f:else>
            <div class="issue">
                <h3>
                    <f:translate key="issue">Issue</f:translate>
                    {Issue.issueTerm}
                    (<f:translate key="issued_in_year" arguments="{0: Issue.issuedYear}">issued in year %s</f:translate>)
                </h3>
                <f:if condition="{Issue.identifier}">
                    <h4>
                        <f:translate key="issue_identifier">URL</f:translate>:
                    </h4>
                    <div class="link"><a href="{Issue.identifier}" target="_blank">{Issue.identifier}</a></div>
                </f:if>
                <f:if condition="{Issue.component}">
                    <h4>
                        <f:translate key="fulltext">Fulltext</f:translate>:
                    </h4>
                    <div class="components">
                        <f:render partial="Component/List"
                                  arguments="{Components: Issue.component, Item: Issue, Issue: Issue, Journal: Journal, Contex:Context}"/>
                    </div>
                </f:if>
                <h4>
                    <f:translate key="content">Content</f:translate>:
                </h4>
                <ol>
                    <f:for each="{Issue.Article}" as="Article">
                        <li>
                            <div class="article">
                                <div class="creators">
                                    <f:render partial="Creator/List"
                                              arguments="{Creators: Article.creator, Controller: 'Issue'}"></f:render>
                                </div>
                                <div class="title">
                                    <f:link.action action="show" controller="Article"
                                                   arguments="{Article: Article, Issue: Issue, Journal: Journal, Context: Context}">
                                        {Article.title}
                                    </f:link.action>
                                </div>
                                <f:if condition="{Article.abstract}">
                                    <div class="PMIToggle truncate">
                                        <span><f:translate key="abstract">Abstract</f:translate>: </span><span
                                            class="abstract">{Article.abstract}</span>
                                    </div>
                                </f:if>
                            </div>
                        </li>
                    </f:for>
                </ol>
            </div>
        </f:else>
    </f:if>
    <div class="navigation">
        <f:render partial="Navigation" arguments="{Journal: Journal, Context: Context}"/>
    </div>
</f:section>