<f:layout name="Default"/>

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
<!--    <f:debug>{Issue}</f:debug> -->
    <f:flashMessages renderMode="div"/>
    <h1>{Issue.title}</h1>
    <h2>{Issue.issuedYear}</h2>
    <f:for each="{Issue.Article}" as="Article">
        <div class="article">
            <div class="author">
                <f:for each="{Article.creator}" as="Creator" iteration="itemIteration">{Creator.givenName} {Creator.familyName}
                    <f:if condition="{itemIteration.isLast}">
                        <f:then></f:then>
                        <f:else>,</f:else>
                    </f:if>
                </f:for>
            </div>
            <div class="title">
                <f:link.action action="show" controller="Article" arguments="{Article: Article, Issue: Issue, Journal: Journal, Context: Context}">{Article.title}
                </f:link.action>
            </div>
            <f:if condition="{Article.abstract}">
                <div class="abstract"> Abstract:<br/>
                    {Article.abstract}
                </div>
            </f:if>
        </div>
    </f:for>
    <f:if condition="{Journal}"><f:link.action action="show" controller="Journal" arguments="{Journal: Journal, Context: Context}">back to Journal</f:link.action><br/></f:if>
    <f:if condition="{Context}"><f:link.action action="list" controller="Journal">back to all Journals</f:link.action><br/></f:if>
</f:section>