
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <h1>Authors</h1>
    <f:flashMessages renderMode="div" />
    <table  class="tx_pubmanimporter" >
        <f:for each="{authors}" as="author">
            <ul>
                <li class="author">
                    <f:link.action action="show" arguments="{author : author}"> 
                        {author.degree} {author.family_name}, {author.given_name}
                    </f:link.action>
               </li>
            </ul>
        </f:for>
    </table>

</f:section>