<f:layout name="Default" />
This Template is responsible for displaying a single view for a domain object
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
	<h1>
		{degree} {name}
	</h1>
	<f:flashMessages renderMode="div" />
	<div>
		<a href="{link}">{link}</a>
	</div>
	<h2>Publications</h2>
	<f:for each="{publications}" as="publication">
		<ul>
			<li class="publication">
				{publication}
			</li>
		</ul>
	</f:for>
	<f:link.action action="list">Back to list</f:link.action>
</f:section>