<f:layout name="Default" />
This Template is responsible for displaying a single view for a domain object
If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep
Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
	<h1>
		{degree} {name}
	</h1>
	<f:flashMessages renderMode="div" />
	<div>
		<a href="{link}" class="author_link">{link}</a>
	</div>
	<h2>Publications</h2>
	<ul class="publications">
	<f:for each="{publications}" as="publication" iteration="publicationIterator" key="objid">
			<li class="publication {publicationIterator.cycle}{f:if(condition: publicationIterator.isEven, then: ' Even')}{f:if(condition: publicationIterator.isOdd, then: ' Odd')}{f:if(condition: publicationIterator.isFirst, then: ' First')}{f:if(condition: publicationIterator.isLast, then: ' Last')}">
				<span class="publication_id">{objid}</span>: <span class="publication_title">{publication}</span>
			</li>
		</f:for>
	</ul>
	<f:link.action action="list">Back to list</f:link.action>
</f:section>