<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages renderMode="div"/>
    <f:if condition="{Error}">
        <f:then>
            <f:render partial="Error" arguments="{Error: Error}" />
        </f:then>
        <f:else>
            <h3>found Journals:</h3>
            <ul>
                <f:for each="{Journals}" as="Journal">
                    <li>
                        <f:link.action action="list" controller="Issue" arguments="{Journal : Journal}">
                            {Journal.title}
                        </f:link.action>
                    </li>
                </f:for>
            </ul>
        </f:else>
    </f:if>
</f:section>
