<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{Error}">
        <f:then>
            <f:render partial="Error" arguments="{Error: Error}"/>
        </f:then>
        <f:else>

            <h3>{Journal.title}</h3>

            <table>
                <thead>
                <tr>
                    <th width="100em">
                        <f:translate key="issue">Issue</f:translate>
                    </th>
                    <th>
                        <f:translate key="year">Year</f:translate>
                    </th>
                </tr>
                </thead>
                <f:for each="{Journal.issue}" as="Issue">
                    <tr>
                        <td>
                            <f:link.action action="show" controller="Issue"
                                           arguments="{Issue: Issue, Journal: Journal, Context: Context}">
                                {Issue.issueTerm}
                            </f:link.action>
                        </td>
                        <td>{Issue.issuedYear}</td>
                    </tr>
                </f:for>
            </table>
        </f:else>
    </f:if>
    <div class="navigation">
        <f:render partial="Navigation" arguments="{Context: Context}"/>
    </div>
</f:section>