<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages renderMode="div"/>
    <h3>{Journal.title}</h3>

    <table>
        <thead>
        <tr>
            <th width="100em"><f:translate key="issue">Issue</f:translate></th>
            <th><f:translate key="year">Year</f:translate></th>
        </tr>
        </thead>
        <f:for each="{Journal.issue}" as="Issue">
            <tr>
                <td>
                    <f:link.action action="show" controller="Issue"
                                   arguments="{Issue: Issue, Journal: Journal, Context: Context}">{Issue.issueTerm}
                    </f:link.action>
                </td>
                <td>{Issue.issuedYear}</td>
            </tr>
        </f:for>
    </table>
    <f:if condition="{Context}">
        <f:link.action action="list" controller="Journal">back to all Journals</f:link.action>
    </f:if>
</f:section>