<f:layout name="Default"/>
<f:section name="main">
<!--    <f:debug>{Article}</f:debug> -->
    <h3>{Article.identifier}</h3>

    <h2>{Article.title}</h2>

    <div class="author">
        <f:for each="{Article.creator}" as="Creator" iteration="itemIteration">{Creator.givenName} {Creator.familyName}
            <f:if condition="{itemIteration.isLast}">
                <f:then></f:then>
                <f:else>,</f:else>
            </f:if>
            <f:if condition="{Creator.article}">
                <div class="title">
                    <ul>
                        <f:for each="{Creator.article}" as="CreatorArticle">
                            <li><f:link.action action="show" arguments="{Article: CreatorArticle}">{CreatorArticle.title}</f:link.action></li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </f:for>
    </div>
    <p>
    </p>
    <p>
        <f:for each="{Article.component}" as="Component" iteration="ItemIteration">
            <f:if condition="{ItemIteration.isFirst}">
                <f:then>Volltext:</f:then>
                <f:else> |</f:else>
            </f:if>
            <f:if condition="{Component.mimeType} == 'application/pdf'">
                <f:link.action action="stream" controller="Content" arguments="{Component: Component, Article: Article}">PDF
                </f:link.action>
            </f:if>
            <f:if condition="{Component.mimeType} == 'application/xml'">
                <f:link.action action="show" controller="Content"
                               arguments="{Component: Component, Article: Article, Issue: Issue, Journal: Journal, Context: Context}">
                    HTML
                </f:link.action>
            </f:if>
        </f:for>
    </p>
    <div class="navigation">
        <f:if condition="{Issue}">
            <f:link.action action="show" controller="Issue"
                           arguments="{Issue: Issue, Journal: Journal, Context: Context}">back to Issue
            </f:link.action>
            <br/></f:if>
        <f:if condition="{Journal}">
            <f:link.action action="show" controller="Journal" arguments="{Journal: Journal, Context: Context}">back to
                Journal
            </f:link.action>
            <br/></f:if>
        <f:if condition="{Context}">
            <f:link.action action="list" controller="Journal">back to all Journals</f:link.action>
            <br/></f:if>
    </div>
</f:section>