<f:layout name="Default"/>

<f:section name="main">
    <h3>{Article.title}</h3>

    <div class="creators">
        <h4><f:translate key="author">Author</f:translate>:</h4>
        <f:render partial="Creator/List" arguments="{Creators: Article.creator}"/>
    </div>

    <f:if condition="{Article.abstract}">
        <h4><f:translate key="abstract">Abstract</f:translate>:</h4>
        <div class="abstract">{Article.abstract}</div>
        </div>
    </f:if>

    <f:if condition="{Article.component}">
        <div class="components">
            <h4><f:translate key="fulltext">Fulltext</f:translate>:</h4>
            <f:render partial="Component/List" arguments="{Components: Article.component, Item: Article, Article: Article, Issue: Issue, Journal: Journal, Contex:Context}"/>
        </div>
    </f:if>

    <div class="social">
        <f:render partial="SocialSharePrivacy" arguments="{RequestUri: RequestUri}"/>
    </div>

    <div class="navigation">
        <f:render partial="Navigation" arguments="{Issue: Issue, Journal: Journal: Context: Context}"/>
    </div>
</f:section>